@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-flicker {
  animation: flicker 100ms;
}

.animate-shakex {
  animation: shakex 300ms;
}

.animate-shakey {
  animation: shakey 300ms;
}

button {
  @apply focus:text-zinc-800 focus:bg-green-500 focus:animate-pulse outline-none focus:outline-none;
}

.input-wrapper {
  position: relative;
}

.input-wrapper:before {
  @apply bg-green-500 animate-[pulse_1s_ease-in-out_infinite];

  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 32px;
  left: calc(8px + (var(--caret-position, 0) * 17px));
}

input {
  caret-color: transparent;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shakex {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(20px);
  }
  70% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shakey {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(20px);
  }
  70% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}